.game-container {
	width: 100%;
	min-width:820px;
	display: inline-block;
	margin: 0 auto;
	text-align: center;
}

.controls-container {
	width: 100%;
	min-width:820px;
	display: inline-block;
	margin: 0 auto;
	text-align: center;
}

h1 {
	font-family: "Lucida Console", Monaco, monospace;
}

body {
	background-color: black;
	color: white;
}

#fight-log {
	vertical-align: top;
	height: 500px;
	width: auto;
	font: 16px/24px "Courier New", Courier, monospace;
	overflow: auto;
	display: inline-block;
	text-align:left;
}

#canvas-container {
	display: inline-block;
}

#dungeon-canvas {
	border: 2px solid #FFFFFF;
}

.rainbow {
	display:block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	cursor: pointer;
	border: none;
	font: normal normal bold normal "Comic Sans MS", Helvetica, sans-serif;
	color: rgba(0, 0, 0, 0);
	text-align: center;
	-o-text-overflow: clip;
	text-overflow: clip;
	text-shadow: 3px 0 0 rgb(217,31,38) , 6px 0 0 rgb(226,91,14) , 9px 0 0 rgb(245,221,8) , 12px 0 0 rgb(5,148,68) , 15px 0 0 rgb(2,135,206) , 18px 0 0 rgb(4,77,145) , 21px 0 0 rgb(42,21,113) ;
	-webkit-transition: all 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-moz-transition: all 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-o-transition: all 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.rainbow:hover {
	text-shadow: -3px 0 0 rgb(217,31,38) , -6px 0 0 rgb(226,91,14) , -9px 0 0 rgb(245,221,8) , -12px 0 0 rgb(5,148,68) , -15px 0 0 rgb(2,135,206) , -18px 0 0 rgb(4,77,145) , -21px 0 0 rgb(42,21,113) ;
	-webkit-transition: all 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-moz-transition: all 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-o-transition: all 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}