.entity-container {
	display: inline-block;
	border: 1px solid black;
	vertical-align: top;
}

h1 {
	font-family: "Courier New", Courier, monospace;
}

body {
	background-color: black;
	color: white;
}

#fight-log {
	height: 500px;
	width: auto;
	border: 2px solid #ccc;
	font: 14px/24px "Courier New", Courier, monospace;
	overflow: scroll;
}
#canvas-container {
	display: inline-block;
}

#dungeon-canvas {
	border: 1px solid #000000;
}