.entity-container {
	display: inline-block;
	border: 1px solid black;
	vertical-align: top;
}

#fight-log {
	height: 500px;
	width: auto;
	border: 0px solid #ccc;
	font: 16px/24px Georgia, Garamond, Serif;
	overflow: scroll;
}
#canvas-container {
	display: inline-block;
}

#dungeon-canvas {
	border: 1px solid #000000;
}